@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0f0f0f;
  font-family: Rubik, sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.app-name {
  font-family: Rubik, sans-serif;
  font-style: italic;
  font-weight: 300;
}
