/* stylelint-disable media-feature-range-notation */
@tailwind base;
@tailwind Components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #080808;
  font-family: Play, sans-serif;
  font-size: 2rem;
  color: white;
}

.closed {
  transform: translateX(-325px);
}

.open {
  transform: translateX(0) translateY(-30px);
}

.hidden {
  display: none;
}

input::placeholder {
  color: #5a5a5a;
  opacity: 1;
}

.event-indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  margin: auto;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu-item-enter {
  animation: slideInFromLeft 0.15s ease-out forwards;
}

.gradient-hover {
  background: black;
  transition: background 0.3s ease-out, transform 0.3s ease-out;
  border-radius: 9999px;
  display: flex;
  gap: 0.5rem;
}

.gradient-hover:hover {
  background: linear-gradient(
    0.3turn,
    black,
    black,
    black,
    black,
    black,
    black,
    black,
    black,
    black,
    black,
    rgb(59, 59, 48),
    rgb(155, 155, 65),
    rgb(214, 178, 33),
    rgb(248, 199, 4)
  );
  transform: scale(0.9);
}

.full-width-border {
  position: relative;
}

.full-width-border::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #343541;
}

.icon-resize {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

@media (max-width: 768px) {
  .icon-resize {
    transform: scale(0.8);
  }
}

#question {
  font-family: Roboto-condensed, sans-serif;
}

#answer {
  font-family: Roboto-condensed, sans-serif;
}
