/* stylelint-disable media-feature-range-notation */
@tailwind base;
@tailwind Components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0f0f0f;
  font-family: Play, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: white;
}

.closed {
  transform: translateX(-325px);
}

.open {
  transform: translateX(0) translateY(-30px);
}

.hidden {
  display: none;
}

input::placeholder {
  color: #5a5a5a;
  opacity: 1;
}

.event-indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  margin: auto;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu-item-enter {
  animation: slideInFromLeft 0.15s ease-out forwards;
}

.gradient-hover {
  background: black; /* Initial background */
  transition: background 0.3s ease-out, transform 0.3s ease-out;
  border-radius: 9999px; /* Tailwind's rounded-full */
  display: flex;
  gap: 0.5rem; /* Equivalent to Tailwind's gap-2 */
}

.gradient-hover:hover {
  background: linear-gradient(
    0.3turn,
    black,
    black,
    black,
    black,
    black,
    black,
    black,
    black,
    rgb(96, 96, 64),
    rgb(163, 163, 61),
    rgb(240, 200, 40),
    rgb(250, 204, 20)
  );
  transform: scale(0.95); /* Equivalent to Tailwind's scale-110 */
}

.full-width-border {
  position: relative;
}

.full-width-border::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #343541;
}

.gradient-hover2:hover {
  background: linear-gradient(
    0.3turn,
    blue,
    blue,
    blue,
    rgb(67, 51, 154),
    rgb(48, 26, 173),
    rgb(64, 65, 132),
    rgb(143, 67, 67),
    red,
    rgb(157, 49, 49),
    rgb(198, 28, 28),
    red,
    red
  );
  transform: scale(1.1);
}

.icon-resize {
  transform: scale(1); /* default scale */
  transition: transform 300ms ease-in-out;
}

@media (max-width: 768px) {
  .icon-resize {
    transform: scale(0.8);
  }
}
