{
  "openapi": "3.1.0",
  "info": {
    "title": "MMA",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api.sportradar.com/mma/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/{access_level}/v2/{language_code}/champions.{format}": {
      "get": {
        "summary": "Champions",
        "description": "Provides a list of current champions by weight class.",
        "operationId": "mma-champions",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key",
            "schema": {
              "type": "string",
              "enum": ["trial", "production"],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2 letter code for supported languages<br><br>`en` (English) is the only fully supported language for this API. Click **[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)** for a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"generated_at\": \"2023-04-26T13:29:07+00:00\",\n    \"categories\": [\n        {\n            \"id\": \"sr:category:1089\",\n            \"name\": \"UFC\",\n            \"weight_classes\": [\n                {\n                    \"description\": \"bantamweight\",\n                    \"competitor\": {\n                        \"id\": \"sr:competitor:260623\",\n                        \"name\": \"Sterling, Aljamain\",\n                        \"abbreviation\": \"STE\",\n                        \"gender\": \"male\"\n                    }\n                },\n                {\n                    \"description\": \"featherweight\",\n                    \"competitor\": {\n                        \"id\": \"sr:competitor:290262\",\n                        \"name\": \"Volkanovski, Alex\",\n                        \"abbreviation\": \"VOL\",\n                        \"gender\": \"male\"\n                    }\n                },\n                {\n                    \"description\": \"flyweight\",\n                    \"competitor\": {\n                        \"id\": \"sr:competitor:288695\",\n                        \"name\": \"Moreno, Brandon\",\n                        \"abbreviation\": \"MOR\",\n                        \"gender\": \"male\"\n                    }\n                },\n                {\n                    \"description\": \"heavyweight\",\n                    \"competitor\": {\n                        \"id\": \"sr:competitor:253371\",\n                        \"name\": \"Jones, Jon\",\n                        \"abbreviation\": \"JON\",\n                        \"gender\": \"male\"\n                    }\n                },\n                {\n                    \"description\": \"light_heavyweight\",\n                    \"competitor\": {\n                        \"id\": \"sr:competitor:608564\",\n                        \"name\": \"Hill, Jamahal\",\n                        \"abbreviation\": \"HIL\",\n                        \"gender\": \"male\"\n                    }\n                },\n                {\n                    \"description\": \"middleweight\",\n                    \"competitor\": {\n                        \"id\": \"sr:competitor:410485\",\n                        \"name\": \"Adesanya, Israel\",\n                        \"abbreviation\": \"ADE\",\n                        \"gender\": \"male\"\n                    }\n                },\n                {\n                    \"description\": \"welterweight\",\n                    \"competitor\": {\n                        \"id\": \"sr:competitor:256121\",\n                        \"name\": \"Edwards, Leon\",\n                        \"abbreviation\": \"EDW\",\n                        \"gender\": \"male\"\n                    }\n                },\n                {\n                    \"description\": \"womens_bantamweight\",\n                    \"competitor\": {\n                        \"id\": \"sr:competitor:246051\",\n                        \"name\": \"Nunes, Amanda\",\n                        \"abbreviation\": \"NUN\",\n                        \"gender\": \"female\"\n                    }\n                },\n                {\n                    \"description\": \"womens_featherweight\",\n                    \"competitor\": {\n                        \"id\": \"sr:competitor:246051\",\n                        \"name\": \"Nunes, Amanda\",\n                        \"abbreviation\": \"NUN\",\n                        \"gender\": \"female\"\n                    }\n                },\n                {\n                    \"description\": \"womens_flyweight\",\n                    \"competitor\": {\n                        \"id\": \"sr:competitor:542061\",\n                        \"name\": \"Grasso, Alexa\",\n                        \"abbreviation\": \"GRA\",\n                        \"gender\": \"female\"\n                    }\n                }\n            ]\n        },\n        {\n            \"id\": \"sr:category:1090\",\n            \"name\": \"Bellator\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2023-04-26T13:29:07+00:00"
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "sr:category:1089"
                          },
                          "name": {
                            "type": "string",
                            "example": "UFC"
                          },
                          "weight_classes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "string",
                                  "example": "bantamweight"
                                },
                                "competitor": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "sr:competitor:260623"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Sterling, Aljamain"
                                    },
                                    "abbreviation": {
                                      "type": "string",
                                      "example": "STE"
                                    },
                                    "gender": {
                                      "type": "string",
                                      "example": "male"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v2/{language_code}/competitions/{competition_id}/info.{format}": {
      "get": {
        "summary": "Competition Info",
        "description": "Provides the name, id, and parent id for a given competition.",
        "operationId": "mma-competition-info",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key",
            "schema": {
              "type": "string",
              "enum": ["trial", "production"],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2 letter code for supported languages<br><br>`en` (English) is the only fully supported language for this API. Click **[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)** for a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "required": true
          },
          {
            "name": "competition_id",
            "in": "path",
            "description": "ID of a given competition",
            "schema": {
              "type": "string",
              "default": "sr:competition:25457"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"generated_at\": \"2023-04-26T13:30:00+00:00\",\n    \"competition\": {\n        \"id\": \"sr:competition:25357\",\n        \"name\": \"UFC Contender Series, Las Vegas, Week 26\",\n        \"parent_id\": \"sr:competition:25325\",\n        \"category\": {\n            \"id\": \"sr:category:1089\",\n            \"name\": \"UFC\"\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2023-04-26T13:30:00+00:00"
                    },
                    "competition": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "sr:competition:25357"
                        },
                        "name": {
                          "type": "string",
                          "example": "UFC Contender Series, Las Vegas, Week 26"
                        },
                        "parent_id": {
                          "type": "string",
                          "example": "sr:competition:25325"
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "sr:category:1089"
                            },
                            "name": {
                              "type": "string",
                              "example": "UFC"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v2/{language_code}/competitions.{format}": {
      "get": {
        "summary": "Competitions List",
        "description": "Provides a list of all available competitions.",
        "operationId": "mma-competitions-list",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key",
            "schema": {
              "type": "string",
              "enum": ["trial", "production"],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2 letter code for supported languages<br><br>`en` (English) is the only fully supported language for this API. Click **[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)** for a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"generated_at\": \"2023-04-26T13:32:11+00:00\",\n    \"competitions\": [\n        {\n            \"id\": \"sr:competition:25357\",\n            \"name\": \"UFC Contender Series, Las Vegas, Week 26\",\n            \"parent_id\": \"sr:competition:25325\",\n            \"category\": {\n                \"id\": \"sr:category:1089\",\n                \"name\": \"UFC\"\n            }\n        },\n        {\n            \"id\": \"sr:competition:25399\",\n            \"name\": \"UFC Fight Night - Boise, Idaho\",\n            \"parent_id\": \"sr:competition:25325\",\n            \"category\": {\n                \"id\": \"sr:category:1089\",\n                \"name\": \"UFC\"\n            }\n        },\n        {\n            \"id\": \"sr:competition:25455\",\n            \"name\": \"UFC 226 - Las Vegas\",\n            \"parent_id\": \"sr:competition:25325\",\n            \"category\": {\n                \"id\": \"sr:category:1089\",\n                \"name\": \"UFC\"\n            }\n        },\n        {\n            \"id\": \"sr:competition:25457\",\n            \"name\": \"The Ultimate Fighter Finale - Las Vegas, week 27\",\n            \"parent_id\": \"sr:competition:25325\",\n            \"category\": {\n                \"id\": \"sr:category:1089\",\n                \"name\": \"UFC\"\n            }\n        },\n        {\n            \"id\": \"sr:competition:39705\",\n            \"name\": \"UFC Fight Night: Strickland vs. Magomedov\",\n            \"category\": {\n                \"id\": \"sr:category:1089\",\n                \"name\": \"UFC\"\n            }\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2023-04-26T13:32:11+00:00"
                    },
                    "competitions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "sr:competition:25357"
                          },
                          "name": {
                            "type": "string",
                            "example": "UFC Contender Series, Las Vegas, Week 26"
                          },
                          "parent_id": {
                            "type": "string",
                            "example": "sr:competition:25325"
                          },
                          "category": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "sr:category:1089"
                              },
                              "name": {
                                "type": "string",
                                "example": "UFC"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v2/{language_code}/competitors/merge_mappings.{format}": {
      "get": {
        "summary": "Competitor Merge Mappings",
        "description": "Provides valid ids for competitors who have had their profiles merged. While Sportradar always strives to provide one unique competitor id, it is a possibility for two ids to be created. This feed provides the correct id once profiles have been merged.<br><br>Entries are retained in this endpoint for one week.",
        "operationId": "mma-competitor-merge-mappings",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key",
            "schema": {
              "type": "string",
              "enum": ["trial", "production"],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2 letter code for supported languages<br><br>`en` (English) is the only fully supported language for this API. Click **[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)** for a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v2/{language_code}/competitions/{competition_id}/seasons.{format}": {
      "get": {
        "summary": "Competitions Seasons",
        "description": "Provides historical season information for a given competition. Valid competition IDs can be found in the Competitions feed.",
        "operationId": "mma-competitions-seasons",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key",
            "schema": {
              "type": "string",
              "enum": ["trial", "production"],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2 letter code for supported languages<br><br>`en` (English) is the only fully supported language for this API. Click **[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)** for a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "required": true
          },
          {
            "name": "competition_id",
            "in": "path",
            "description": "ID of a given competition",
            "schema": {
              "type": "string",
              "default": "sr:competition:25457"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"generated_at\": \"2023-04-26T13:33:34+00:00\",\n    \"seasons\": [\n        {\n            \"id\": \"sr:season:86728\",\n            \"name\": \"Dana White's Contender Series: Season 5, Week 6 2021\",\n            \"start_date\": \"2021-10-05\",\n            \"end_date\": \"2021-10-06\",\n            \"year\": \"2021\",\n            \"competition_id\": \"sr:competition:35146\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2023-04-26T13:33:34+00:00"
                    },
                    "seasons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "sr:season:86728"
                          },
                          "name": {
                            "type": "string",
                            "example": "Dana White's Contender Series: Season 5, Week 6 2021"
                          },
                          "start_date": {
                            "type": "string",
                            "example": "2021-10-05"
                          },
                          "end_date": {
                            "type": "string",
                            "example": "2021-10-06"
                          },
                          "year": {
                            "type": "string",
                            "example": "2021"
                          },
                          "competition_id": {
                            "type": "string",
                            "example": "sr:competition:35146"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v2/{language_code}/competitors/{competitor_id}/profile.{format}": {
      "get": {
        "summary": "Competitor Profile",
        "description": "Provides biographical information for a given competitor, including record.",
        "operationId": "mma-competitor-profile",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key",
            "schema": {
              "type": "string",
              "enum": ["trial", "production"],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2 letter code for supported languages<br><br>`en` (English) is the only fully supported language for this API. Click **[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)** for a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "required": true
          },
          {
            "name": "competitor_id",
            "in": "path",
            "description": "ID of a given competitor",
            "schema": {
              "type": "string",
              "default": "sr:competitor:237652"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"generated_at\": \"2023-04-26T13:34:42+00:00\",\n    \"competitor\": {\n        \"id\": \"sr:competitor:237652\",\n        \"name\": \"Holloway, Max\",\n        \"abbreviation\": \"HOL\",\n        \"gender\": \"male\"\n    },\n    \"info\": {\n        \"birth_city\": \"Honolulu\",\n        \"birth_state\": \"HI\",\n        \"birth_country\": \"UNITED STATES\",\n        \"birth_country_code\": \"USA\",\n        \"birth_date\": \"1991-12-04\",\n        \"fighting_out_of_city\": \"Waianae\",\n        \"fighting_out_of_country\": \"UNITED STATES\",\n        \"fighting_out_of_country_code\": \"USA\",\n        \"fighting_out_of_state\": \"HI\",\n        \"reach\": 175,\n        \"height\": 180,\n        \"weight\": 65.8,\n        \"nickname\": \"Blessed\"\n    },\n    \"record\": {\n        \"wins\": 24,\n        \"draws\": 0,\n        \"losses\": 7\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2023-04-26T13:34:42+00:00"
                    },
                    "competitor": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "sr:competitor:237652"
                        },
                        "name": {
                          "type": "string",
                          "example": "Holloway, Max"
                        },
                        "abbreviation": {
                          "type": "string",
                          "example": "HOL"
                        },
                        "gender": {
                          "type": "string",
                          "example": "male"
                        }
                      }
                    },
                    "info": {
                      "type": "object",
                      "properties": {
                        "birth_city": {
                          "type": "string",
                          "example": "Honolulu"
                        },
                        "birth_state": {
                          "type": "string",
                          "example": "HI"
                        },
                        "birth_country": {
                          "type": "string",
                          "example": "UNITED STATES"
                        },
                        "birth_country_code": {
                          "type": "string",
                          "example": "USA"
                        },
                        "birth_date": {
                          "type": "string",
                          "example": "1991-12-04"
                        },
                        "fighting_out_of_city": {
                          "type": "string",
                          "example": "Waianae"
                        },
                        "fighting_out_of_country": {
                          "type": "string",
                          "example": "UNITED STATES"
                        },
                        "fighting_out_of_country_code": {
                          "type": "string",
                          "example": "USA"
                        },
                        "fighting_out_of_state": {
                          "type": "string",
                          "example": "HI"
                        },
                        "reach": {
                          "type": "integer",
                          "example": 175,
                          "default": 0
                        },
                        "height": {
                          "type": "integer",
                          "example": 180,
                          "default": 0
                        },
                        "weight": {
                          "type": "number",
                          "example": 65.8,
                          "default": 0
                        },
                        "nickname": {
                          "type": "string",
                          "example": "Blessed"
                        }
                      }
                    },
                    "record": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "integer",
                          "example": 24,
                          "default": 0
                        },
                        "draws": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "losses": {
                          "type": "integer",
                          "example": 7,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v2/{language_code}/schedules/live/summaries.{format}": {
      "get": {
        "summary": "Live Summaries",
        "description": "Provides information for all currently live events, including results and statistics.",
        "operationId": "mma-live-summaries",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key",
            "schema": {
              "type": "string",
              "enum": ["trial", "production"],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2 letter code for supported languages<br><br>`en` (English) is the only fully supported language for this API. Click **[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)** for a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"generated_at\": \"2024-02-26T15:33:01.264Z\",\n  \"summaries\": [\n    {\n      \"sport_event\": {\n        \"channels\": [\n          {\n            \"country\": \"string\",\n            \"country_code\": \"string\",\n            \"name\": \"string\",\n            \"url\": \"string\"\n          }\n        ],\n        \"competitors\": [\n          {\n            \"abbreviation\": \"string\",\n            \"age_group\": \"U23\",\n            \"country\": \"string\",\n            \"country_code\": \"string\",\n            \"gender\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"qualifier\": \"home\",\n            \"virtual\": true\n          }\n        ],\n        \"coverage\": {\n          \"sport_event_properties\": {\n            \"data_complete\": true,\n            \"live\": true\n          },\n          \"type\": \"sport_event\"\n        },\n        \"id\": \"string\",\n        \"replaced_by\": \"string\",\n        \"resume_time\": \"2024-02-26T15:33:01.264Z\",\n        \"sport_event_context\": {\n          \"category\": {\n            \"country_code\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"competition\": {\n            \"gender\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"parent_id\": \"string\",\n            \"type\": \"string\"\n          },\n          \"season\": {\n            \"competition_id\": \"string\",\n            \"disabled\": true,\n            \"end_date\": \"2024-02-26\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"start_date\": \"2024-02-26\",\n            \"year\": \"string\"\n          },\n          \"sport\": {\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"stage\": {\n            \"phase\": \"1st_part_of_season_1st_leg\",\n            \"type\": \"Early Prelims\"\n          }\n        },\n        \"start_time\": \"2024-02-26T15:33:01.264Z\",\n        \"start_time_confirmed\": true,\n        \"venue\": {\n          \"capacity\": 0,\n          \"changed\": true,\n          \"city_name\": \"string\",\n          \"country_code\": \"string\",\n          \"country_name\": \"string\",\n          \"id\": \"string\",\n          \"map_coordinates\": \"string\",\n          \"name\": \"string\",\n          \"reduced_capacity\": true,\n          \"reduced_capacity_max\": 0,\n          \"state\": \"string\",\n          \"timezone\": \"string\"\n        }\n      },\n      \"sport_event_status\": {\n        \"end_position\": \"after_drop_to_ground\",\n        \"end_strike\": \"elbow\",\n        \"end_target\": \"body\",\n        \"final_round\": 0,\n        \"final_round_length\": \"string\",\n        \"main_event\": true,\n        \"match_status\": \"not_started\",\n        \"method\": \"decision_majority\",\n        \"scheduled_length\": 0,\n        \"scout_abandoned\": true,\n        \"status\": \"not_started\",\n        \"submission\": \"anaconda_choke\",\n        \"title_fight\": true,\n        \"weight_class\": \"string\",\n        \"winner\": \"home_team\",\n        \"winner_id\": \"string\"\n      },\n      \"statistics\": {\n        \"periods\": [\n          {\n            \"competitors\": [\n              {\n                \"abbreviation\": \"string\",\n                \"age_group\": \"U23\",\n                \"country\": \"string\",\n                \"country_code\": \"string\",\n                \"gender\": \"string\",\n                \"id\": \"string\",\n                \"name\": \"string\",\n                \"qualifier\": \"home\",\n                \"statistics\": {\n                  \"control\": \"6:04\",\n                  \"knockdowns\": 0,\n                  \"significant_strike_percentage\": 0,\n                  \"significant_strikes\": 0,\n                  \"significant_strikes_attempted\": 0,\n                  \"submission_attempts\": 0,\n                  \"takedown_percentage\": 0,\n                  \"takedowns\": 0,\n                  \"takedowns_attempted\": 0,\n                  \"total_strike_percentage\": 0,\n                  \"total_strikes\": 0,\n                  \"total_strikes_attempted\": 0\n                },\n                \"virtual\": true\n              }\n            ],\n            \"number\": 0\n          }\n        ],\n        \"totals\": {\n          \"competitors\": [\n            {\n              \"abbreviation\": \"string\",\n              \"age_group\": \"U23\",\n              \"country\": \"string\",\n              \"country_code\": \"string\",\n              \"gender\": \"string\",\n              \"id\": \"string\",\n              \"name\": \"string\",\n              \"qualifier\": \"home\",\n              \"statistics\": {\n                \"control\": \"6:04\",\n                \"knockdowns\": 0,\n                \"significant_strike_percentage\": 0,\n                \"significant_strikes\": 0,\n                \"significant_strikes_attempted\": 0,\n                \"submission_attempts\": 0,\n                \"takedown_percentage\": 0,\n                \"takedowns\": 0,\n                \"takedowns_attempted\": 0,\n                \"total_strike_percentage\": 0,\n                \"total_strikes\": 0,\n                \"total_strikes_attempted\": 0\n              },\n              \"virtual\": true\n            }\n          ]\n        }\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2024-02-26T15:33:01.264Z"
                    },
                    "summaries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sport_event": {
                            "type": "object",
                            "properties": {
                              "channels": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "country": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "country_code": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "url": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              },
                              "competitors": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "abbreviation": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "age_group": {
                                      "type": "string",
                                      "example": "U23"
                                    },
                                    "country": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "country_code": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "gender": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "qualifier": {
                                      "type": "string",
                                      "example": "home"
                                    },
                                    "virtual": {
                                      "type": "boolean",
                                      "example": true,
                                      "default": true
                                    }
                                  }
                                }
                              },
                              "coverage": {
                                "type": "object",
                                "properties": {
                                  "sport_event_properties": {
                                    "type": "object",
                                    "properties": {
                                      "data_complete": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "live": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      }
                                    }
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "sport_event"
                                  }
                                }
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "replaced_by": {
                                "type": "string",
                                "example": "string"
                              },
                              "resume_time": {
                                "type": "string",
                                "example": "2024-02-26T15:33:01.264Z"
                              },
                              "sport_event_context": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "object",
                                    "properties": {
                                      "country_code": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "competition": {
                                    "type": "object",
                                    "properties": {
                                      "gender": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "parent_id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "season": {
                                    "type": "object",
                                    "properties": {
                                      "competition_id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "disabled": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "end_date": {
                                        "type": "string",
                                        "example": "2024-02-26"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "start_date": {
                                        "type": "string",
                                        "example": "2024-02-26"
                                      },
                                      "year": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "sport": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "stage": {
                                    "type": "object",
                                    "properties": {
                                      "phase": {
                                        "type": "string",
                                        "example": "1st_part_of_season_1st_leg"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "Early Prelims"
                                      }
                                    }
                                  }
                                }
                              },
                              "start_time": {
                                "type": "string",
                                "example": "2024-02-26T15:33:01.264Z"
                              },
                              "start_time_confirmed": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "venue": {
                                "type": "object",
                                "properties": {
                                  "capacity": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "changed": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "city_name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "country_code": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "country_name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "map_coordinates": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "reduced_capacity": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "reduced_capacity_max": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "state": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "timezone": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              }
                            }
                          },
                          "sport_event_status": {
                            "type": "object",
                            "properties": {
                              "end_position": {
                                "type": "string",
                                "example": "after_drop_to_ground"
                              },
                              "end_strike": {
                                "type": "string",
                                "example": "elbow"
                              },
                              "end_target": {
                                "type": "string",
                                "example": "body"
                              },
                              "final_round": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "final_round_length": {
                                "type": "string",
                                "example": "string"
                              },
                              "main_event": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "match_status": {
                                "type": "string",
                                "example": "not_started"
                              },
                              "method": {
                                "type": "string",
                                "example": "decision_majority"
                              },
                              "scheduled_length": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "scout_abandoned": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "status": {
                                "type": "string",
                                "example": "not_started"
                              },
                              "submission": {
                                "type": "string",
                                "example": "anaconda_choke"
                              },
                              "title_fight": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "weight_class": {
                                "type": "string",
                                "example": "string"
                              },
                              "winner": {
                                "type": "string",
                                "example": "home_team"
                              },
                              "winner_id": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "statistics": {
                            "type": "object",
                            "properties": {
                              "periods": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "competitors": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "abbreviation": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "age_group": {
                                            "type": "string",
                                            "example": "U23"
                                          },
                                          "country": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "country_code": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "gender": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "id": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "name": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "qualifier": {
                                            "type": "string",
                                            "example": "home"
                                          },
                                          "statistics": {
                                            "type": "object",
                                            "properties": {
                                              "control": {
                                                "type": "string",
                                                "example": "6:04"
                                              },
                                              "knockdowns": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "significant_strike_percentage": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "significant_strikes": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "significant_strikes_attempted": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "submission_attempts": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "takedown_percentage": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "takedowns": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "takedowns_attempted": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "total_strike_percentage": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "total_strikes": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "total_strikes_attempted": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              }
                                            }
                                          },
                                          "virtual": {
                                            "type": "boolean",
                                            "example": true,
                                            "default": true
                                          }
                                        }
                                      }
                                    },
                                    "number": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    }
                                  }
                                }
                              },
                              "totals": {
                                "type": "object",
                                "properties": {
                                  "competitors": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "abbreviation": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "age_group": {
                                          "type": "string",
                                          "example": "U23"
                                        },
                                        "country": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "country_code": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "gender": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "id": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "qualifier": {
                                          "type": "string",
                                          "example": "home"
                                        },
                                        "statistics": {
                                          "type": "object",
                                          "properties": {
                                            "control": {
                                              "type": "string",
                                              "example": "6:04"
                                            },
                                            "knockdowns": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            },
                                            "significant_strike_percentage": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            },
                                            "significant_strikes": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            },
                                            "significant_strikes_attempted": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            },
                                            "submission_attempts": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            },
                                            "takedown_percentage": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            },
                                            "takedowns": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            },
                                            "takedowns_attempted": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            },
                                            "total_strike_percentage": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            },
                                            "total_strikes": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            },
                                            "total_strikes_attempted": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            }
                                          }
                                        },
                                        "virtual": {
                                          "type": "boolean",
                                          "example": true,
                                          "default": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v2/{language_code}/competitors/{competitor_id}/summaries.{format}": {
      "get": {
        "summary": "Competitor Summaries",
        "description": "Provides previous and upcoming event information for a given competitor, including results for past events and scheduling info for upcoming events.",
        "operationId": "mma-competitor-summaries",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key",
            "schema": {
              "type": "string",
              "enum": ["trial", "production"],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2 letter code for supported languages<br><br>`en` (English) is the only fully supported language for this API. Click **[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)** for a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "required": true
          },
          {
            "name": "competitor_id",
            "in": "path",
            "description": "ID of a given competitor",
            "schema": {
              "type": "string",
              "default": "sr:competitor:237652"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"generated_at\": \"2024-02-26T15:32:02.342Z\",\n  \"summaries\": [\n    {\n      \"sport_event\": {\n        \"channels\": [\n          {\n            \"country\": \"string\",\n            \"country_code\": \"string\",\n            \"name\": \"string\",\n            \"url\": \"string\"\n          }\n        ],\n        \"competitors\": [\n          {\n            \"abbreviation\": \"string\",\n            \"age_group\": \"U23\",\n            \"country\": \"string\",\n            \"country_code\": \"string\",\n            \"gender\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"qualifier\": \"home\",\n            \"virtual\": true\n          }\n        ],\n        \"coverage\": {\n          \"sport_event_properties\": {\n            \"data_complete\": true,\n            \"live\": true\n          },\n          \"type\": \"sport_event\"\n        },\n        \"id\": \"string\",\n        \"replaced_by\": \"string\",\n        \"resume_time\": \"2024-02-26T15:32:02.343Z\",\n        \"sport_event_context\": {\n          \"category\": {\n            \"country_code\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"competition\": {\n            \"gender\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"parent_id\": \"string\",\n            \"type\": \"string\"\n          },\n          \"season\": {\n            \"competition_id\": \"string\",\n            \"disabled\": true,\n            \"end_date\": \"2024-02-26\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"start_date\": \"2024-02-26\",\n            \"year\": \"string\"\n          },\n          \"sport\": {\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"stage\": {\n            \"phase\": \"1st_part_of_season_1st_leg\",\n            \"type\": \"Early Prelims\"\n          }\n        },\n        \"start_time\": \"2024-02-26T15:32:02.343Z\",\n        \"start_time_confirmed\": true,\n        \"venue\": {\n          \"capacity\": 0,\n          \"changed\": true,\n          \"city_name\": \"string\",\n          \"country_code\": \"string\",\n          \"country_name\": \"string\",\n          \"id\": \"string\",\n          \"map_coordinates\": \"string\",\n          \"name\": \"string\",\n          \"reduced_capacity\": true,\n          \"reduced_capacity_max\": 0,\n          \"state\": \"string\",\n          \"timezone\": \"string\"\n        }\n      },\n      \"sport_event_status\": {\n        \"end_position\": \"after_drop_to_ground\",\n        \"end_strike\": \"elbow\",\n        \"end_target\": \"body\",\n        \"final_round\": 0,\n        \"final_round_length\": \"string\",\n        \"main_event\": true,\n        \"match_status\": \"not_started\",\n        \"method\": \"decision_majority\",\n        \"scheduled_length\": 0,\n        \"scout_abandoned\": true,\n        \"status\": \"not_started\",\n        \"submission\": \"anaconda_choke\",\n        \"title_fight\": true,\n        \"weight_class\": \"string\",\n        \"winner\": \"home_team\",\n        \"winner_id\": \"string\"\n      },\n      \"statistics\": {\n        \"periods\": [\n          {\n            \"competitors\": [\n              {\n                \"abbreviation\": \"string\",\n                \"age_group\": \"U23\",\n                \"country\": \"string\",\n                \"country_code\": \"string\",\n                \"gender\": \"string\",\n                \"id\": \"string\",\n                \"name\": \"string\",\n                \"qualifier\": \"home\",\n                \"statistics\": {\n                  \"control\": \"6:04\",\n                  \"knockdowns\": 0,\n                  \"significant_strike_percentage\": 0,\n                  \"significant_strikes\": 0,\n                  \"significant_strikes_attempted\": 0,\n                  \"submission_attempts\": 0,\n                  \"takedown_percentage\": 0,\n                  \"takedowns\": 0,\n                  \"takedowns_attempted\": 0,\n                  \"total_strike_percentage\": 0,\n                  \"total_strikes\": 0,\n                  \"total_strikes_attempted\": 0\n                },\n                \"virtual\": true\n              }\n            ],\n            \"number\": 0\n          }\n        ],\n        \"totals\": {\n          \"competitors\": [\n            {\n              \"abbreviation\": \"string\",\n              \"age_group\": \"U23\",\n              \"country\": \"string\",\n              \"country_code\": \"string\",\n              \"gender\": \"string\",\n              \"id\": \"string\",\n              \"name\": \"string\",\n              \"qualifier\": \"home\",\n              \"statistics\": {\n                \"control\": \"6:04\",\n                \"knockdowns\": 0,\n                \"significant_strike_percentage\": 0,\n                \"significant_strikes\": 0,\n                \"significant_strikes_attempted\": 0,\n                \"submission_attempts\": 0,\n                \"takedown_percentage\": 0,\n                \"takedowns\": 0,\n                \"takedowns_attempted\": 0,\n                \"total_strike_percentage\": 0,\n                \"total_strikes\": 0,\n                \"total_strikes_attempted\": 0\n              },\n              \"virtual\": true\n            }\n          ]\n        }\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2024-02-26T15:32:02.342Z"
                    },
                    "summaries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sport_event": {
                            "type": "object",
                            "properties": {
                              "channels": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "country": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "country_code": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "url": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              },
                              "competitors": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "abbreviation": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "age_group": {
                                      "type": "string",
                                      "example": "U23"
                                    },
                                    "country": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "country_code": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "gender": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "qualifier": {
                                      "type": "string",
                                      "example": "home"
                                    },
                                    "virtual": {
                                      "type": "boolean",
                                      "example": true,
                                      "default": true
                                    }
                                  }
                                }
                              },
                              "coverage": {
                                "type": "object",
                                "properties": {
                                  "sport_event_properties": {
                                    "type": "object",
                                    "properties": {
                                      "data_complete": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "live": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      }
                                    }
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "sport_event"
                                  }
                                }
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "replaced_by": {
                                "type": "string",
                                "example": "string"
                              },
                              "resume_time": {
                                "type": "string",
                                "example": "2024-02-26T15:32:02.343Z"
                              },
                              "sport_event_context": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "object",
                                    "properties": {
                                      "country_code": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "competition": {
                                    "type": "object",
                                    "properties": {
                                      "gender": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "parent_id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "season": {
                                    "type": "object",
                                    "properties": {
                                      "competition_id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "disabled": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "end_date": {
                                        "type": "string",
                                        "example": "2024-02-26"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "start_date": {
                                        "type": "string",
                                        "example": "2024-02-26"
                                      },
                                      "year": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "sport": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "stage": {
                                    "type": "object",
                                    "properties": {
                                      "phase": {
                                        "type": "string",
                                        "example": "1st_part_of_season_1st_leg"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "Early Prelims"
                                      }
                                    }
                                  }
                                }
                              },
                              "start_time": {
                                "type": "string",
                                "example": "2024-02-26T15:32:02.343Z"
                              },
                              "start_time_confirmed": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "venue": {
                                "type": "object",
                                "properties": {
                                  "capacity": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "changed": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "city_name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "country_code": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "country_name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "map_coordinates": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "reduced_capacity": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "reduced_capacity_max": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "state": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "timezone": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              }
                            }
                          },
                          "sport_event_status": {
                            "type": "object",
                            "properties": {
                              "end_position": {
                                "type": "string",
                                "example": "after_drop_to_ground"
                              },
                              "end_strike": {
                                "type": "string",
                                "example": "elbow"
                              },
                              "end_target": {
                                "type": "string",
                                "example": "body"
                              },
                              "final_round": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "final_round_length": {
                                "type": "string",
                                "example": "string"
                              },
                              "main_event": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "match_status": {
                                "type": "string",
                                "example": "not_started"
                              },
                              "method": {
                                "type": "string",
                                "example": "decision_majority"
                              },
                              "scheduled_length": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "scout_abandoned": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "status": {
                                "type": "string",
                                "example": "not_started"
                              },
                              "submission": {
                                "type": "string",
                                "example": "anaconda_choke"
                              },
                              "title_fight": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "weight_class": {
                                "type": "string",
                                "example": "string"
                              },
                              "winner": {
                                "type": "string",
                                "example": "home_team"
                              },
                              "winner_id": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "statistics": {
                            "type": "object",
                            "properties": {
                              "periods": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "competitors": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "abbreviation": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "age_group": {
                                            "type": "string",
                                            "example": "U23"
                                          },
                                          "country": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "country_code": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "gender": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "id": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "name": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "qualifier": {
                                            "type": "string",
                                            "example": "home"
                                          },
                                          "statistics": {
                                            "type": "object",
                                            "properties": {
                                              "control": {
                                                "type": "string",
                                                "example": "6:04"
                                              },
                                              "knockdowns": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "significant_strike_percentage": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "significant_strikes": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "significant_strikes_attempted": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "submission_attempts": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "takedown_percentage": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "takedowns": {
                                                "type": "integer",
[...]
